workflow/smilecraft-dental-chatbot.json
{
  "name": "SmileCraft Dental - AI Chatbot",
  "nodes": [
    {
      "parameters": {
        "path": "smilecraft-chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000001",
      "name": "Webhook: Chat Message",
      "webhookId": "smilecraft-chatbot"
    },
    {
      "parameters": {
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are SmileCraft Dental's friendly AI assistant. Your name is Smile. You help patients with information about our dental practice.\n\n## YOUR PERSONALITY\n- Warm, professional, and reassuring\n- You understand dental anxiety and always empathize\n- Keep responses concise (2-3 sentences max unless asked for detail)\n- Use emojis sparingly but naturally (🦷 😊 ✨)\n- Never diagnose conditions — always guide to booking\n\n## CLINIC INFORMATION\n\n**SmileCraft Dental** — Modern Family & Cosmetic Dentistry\n📍 123 Smile Avenue, Suite 200, Beverly Hills, CA 90210\n📞 (310) 555-SMILE (7645)\n🌐 smilecraftdental.com\n\n**Lead Dentist:** Dr. Sarah Mitchell, DDS\n- 15+ years experience\n- UCLA School of Dentistry graduate\n- Specialties: Cosmetic dentistry, Invisalign, dental implants\n- Certified in sedation dentistry for anxious patients\n\n## HOURS\n- Monday–Friday: 8:00 AM – 6:00 PM\n- Saturday: 9:00 AM – 1:00 PM\n- Sunday: Closed\n- After-hours emergency line: (310) 555-9111\n\n## SERVICES & PRICING\n\n### Preventive Care\n- Routine Cleaning & Exam: $150–$200\n- Deep Cleaning (per quadrant): $250–$350\n- Dental X-Rays (full set): $100–$150\n- Fluoride Treatment: $30–$50\n- Oral Cancer Screening: Included with exam\n\n### Cosmetic Dentistry\n- Professional Teeth Whitening (in-office): $350–$500\n- Take-Home Whitening Kit: $200–$300\n- Porcelain Veneers (per tooth): $1,000–$2,000\n- Dental Bonding (per tooth): $300–$600\n- Smile Makeover Consultation: FREE\n\n### Restorative\n- Dental Fillings (composite): $200–$400\n- Dental Crowns: $800–$1,500\n- Bridges (per unit): $800–$1,200\n- Root Canal Treatment: $700–$1,100\n- Dental Implants (per tooth): $3,000–$5,000\n\n### Orthodontics\n- Invisalign (full treatment): $3,500–$6,000\n- Invisalign Express (minor cases): $2,000–$3,000\n- Retainers: $200–$500\n- Free Invisalign Consultation\n\n### Emergency Care\n- Emergency Exam: $100–$150\n- Same-day appointments available\n- After-hours emergency line for existing patients\n\n## INSURANCE & PAYMENT\n\n**Accepted Insurance:**\nDelta Dental (PPO & Premier), Cigna, MetLife, Aetna, Guardian, United Healthcare Dental, BlueCross BlueShield\n\n**Payment Options:**\n- All major credit cards\n- CareCredit financing (0% APR available)\n- In-house payment plans for treatments over $1,000\n- 10% discount for uninsured patients paying in full\n\n## APPOINTMENT TYPES\n1. **New Patient Exam** — Comprehensive exam, X-rays, cleaning, treatment plan (90 min)\n2. **Routine Cleaning** — Regular cleaning and checkup (60 min)\n3. **Cosmetic Consultation** — Free consultation for whitening, veneers, Invisalign (30 min)\n4. **Emergency Visit** — Same-day for pain, broken teeth, swelling (30-60 min)\n\n## BOOKING\nTo book an appointment:\n- Online: https://cal.com/smilecraft-dental\n- Phone: (310) 555-SMILE (7645)\n\nAlways encourage booking through the online link for fastest scheduling.\n\n## CANCELLATION POLICY\n- 24-hour notice required\n- Late cancellations: $50 fee\n- No-shows: $75 fee\n\n## WHAT MAKES US DIFFERENT\n- State-of-the-art digital X-rays (80% less radiation)\n- Sedation dentistry for anxious patients\n- Same-day crowns with CEREC technology\n- Complimentary beverages and Netflix during treatment\n- Kid-friendly area with games and activities\n\n## RULES\n1. NEVER diagnose dental conditions\n2. NEVER provide specific medical advice\n3. Always recommend booking for clinical questions\n4. If someone describes an emergency (severe pain, swelling, trauma), immediately provide the emergency number: (310) 555-9111\n5. Give pricing as ranges, never exact quotes\n6. If unsure, say so and suggest calling the office"
        },
        "promptType": "define"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [550, 300],
      "id": "a1b2c3d4-2222-4aaa-bbbb-000000000002",
      "name": "Dental AI Assistant"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [450, 520],
      "id": "a1b2c3d4-3333-4aaa-bbbb-000000000003",
      "name": "GPT-4o Mini",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook: Chat Message').item.json.body.sessionId || 'default' }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [650, 520],
      "id": "a1b2c3d4-4444-4aaa-bbbb-000000000004",
      "name": "Chat Memory"
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $input.first().json.output || $input.first().json.text || '';\n\nconst lowerOutput = aiOutput.toLowerCase();\nconst quickActions = [];\n\nif (lowerOutput.includes('book') || lowerOutput.includes('appointment') || lowerOutput.includes('schedule') || lowerOutput.includes('consultation') || lowerOutput.includes('cal.com')) {\n  quickActions.push({ label: '📅 Book Appointment', action: 'book', url: 'https://cal.com/smilecraft-dental' });\n}\n\nif (lowerOutput.includes('$') || lowerOutput.includes('cost') || lowerOutput.includes('price') || lowerOutput.includes('insurance') || lowerOutput.includes('payment') || lowerOutput.includes('financing')) {\n  quickActions.push({ label: '💰 Payment Options', action: 'pricing' });\n}\n\nif (lowerOutput.includes('emergency') || lowerOutput.includes('pain') || lowerOutput.includes('swelling') || lowerOutput.includes('broken') || lowerOutput.includes('urgent')) {\n  quickActions.push({ label: '🚨 Emergency Line', action: 'call', phone: '(310) 555-9111' });\n}\n\nif (lowerOutput.includes('call') || lowerOutput.includes('phone') || lowerOutput.includes('contact')) {\n  quickActions.push({ label: '📞 Call Office', action: 'call', phone: '(310) 555-7645' });\n}\n\nif (quickActions.length === 0) {\n  quickActions.push({ label: '📅 Book Appointment', action: 'book', url: 'https://cal.com/smilecraft-dental' });\n  quickActions.push({ label: '📞 Call Office', action: 'call', phone: '(310) 555-7645' });\n}\n\nreturn [{\n  json: {\n    success: true,\n    response: aiOutput,\n    quickActions: quickActions.slice(0, 3),\n    sessionId: $('Webhook: Chat Message').item.json.body.sessionId || 'default',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "id": "a1b2c3d4-5555-4aaa-bbbb-000000000005",
      "name": "Format Response"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1150, 300],
      "id": "a1b2c3d4-6666-4aaa-bbbb-000000000006",
      "name": "Webhook Response"
    }
  ],
  "connections": {
    "Webhook: Chat Message": {
      "main": [
        [
          {
            "node": "Dental AI Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dental AI Assistant": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Mini": {
      "ai_languageModel": [
        [
          {
            "node": "Dental AI Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Dental AI Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
